/**

font-family: 'Raleway', sans-serif;
color: #0065FC;   fond bleu de la charte
color: #DEEBFF;  bleu clair
color: #F2F2F2;   fond gris

**/



* {
    margin: 0px;
    padding: 0px;
}

body  {
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

li, a {
    text-decoration: none;
}

li {
    list-style: none;
}

/**************** Header ***************/
header {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
header a {
    padding:10px;
}

#logo {
    margin-left: 35px;
    height: 45px;
}

nav {
    display: flex;
}

.list-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-header li:nth-child(1) {
    margin-right: 10px;
}

.list-header li:nth-child(2) {
    margin-right: 5px;
}

.link-header:hover {
    color:#0065FC;
    border-top: 1px solid #0065FC;
}
.link-header:visited {
    color:#0065FC;
}





/**************** First section ***************/
.first {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    padding-left: 10px;
    margin-bottom: 5px;
}
.title {
    padding:2px;
}

.title h1 {
    padding:10px;
}
.title p {
    padding-left: 5px;
}

form {
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.search,
.btn {
    height: 50px;
    width: 120px;
}

.btn {
    color: white;
    background-color:#0065FC ;
    border-radius: 0px 10px 10px 0px;
}

.search {
    width: 180px;
    text-align: end;
    font-weight: bold;
    padding-right: 5px;
    border-radius: 10px 0px 0px 10px;
}

fieldset {
    display: flex;
    flex-direction: row;
    border: transparent;
    margin-top: 20px;
}

fieldset h3 {
    padding-top: 10px;
    margin-right: 25px;
    vertical-align: middle;
}


.select-custom{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-left: transparent;
    border-radius: 50px;
    background-color: white;
    width: 140px;
    height: 40px;
    text-align: end;
    padding:2px ;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
    z-index: 5;
}


#pets {
    width: 180px;
}
.filter {
    position: relative;
}
.wrapper {
    width: 20px;
    position: absolute;
    z-index: 11;
    background-color: #DEEBFF;
    border-radius: 50px ;
    height: 38px;
    width: 40px;
    left:0%;
    top:2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
i {
    color:#0065FC ;

}
.info {
    margin-top: 3px;
}
#info  {
    border: 2px solid rgba(0, 0, 0, 0.103);
    background-color: transparent;
    width: 20px;
    height: 15px;
    border-radius: 50px;
    text-align: center;
    padding-top: 2px;
    font-size: small;
}

#span-custom {
    margin-left: 10px;
    padding-top: 5px;
}





/**************** Main ***************/
main {
    border: 1px solid black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.house,
.top {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 15px;
    height: auto;
}
.house {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 10px;
}

.title-card ,
.div-card--more {
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
}

.div-card--more {
    font-size: larger;
}

.div-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.link-card {
    text-align: center;
}

.top {
    width: 30%;
    margin-left: 20px;
}

.top a:nth-of-type(1) {
    margin-top: 25px;
}



.card {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 300px;
    max-height: auto;
    padding: 5px;
    text-align: start;
}

.popular-contain-card {
    width: 100%;
}

.card-popular {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.img {
    width: auto;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.img-popular {
    width: 200px;
    height: 170px;
    border-radius: 20px 0px 0px 20px;
}

.img-first {
    background-image:url('/src/image/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') ;
}

.img-second {
    background-image:url('/src/image/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') ;
}

.img-third {
    background-image:url('/src/image/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') ;
}

.img-fourth {
    background-image:url('/src/image/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') ;
    background-position: center;
}

.img-fifth {
    background-image:url('/src/image/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') ;
}

.img-sixth {
    background-image:url('/src/image/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') ;
    background-position: center;
}

.img-first--popular {
    background-image:url('/src/image/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') ;
}
.img-second--popular {
    background-image:url('/src/image/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') ;
}
.img-third--popular {
    background-image:url('/src/image/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg') ;
    background-position: center;
}



.card-text {
    padding: 2px;
    margin-left:10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card span {
    padding-bottom: 20px;
}

.popular-title i{
    color:black;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/**************** Second section ***************/
.second {
    border: 1px solid black;
    width: 100%;
    height: 100px;
}
/**************** Footer ***************/
footer {
    border: 1px solid black;
    width: 100%;
    height: 100px;
}

