/**

font-family: 'Raleway', sans-serif;
color: #0065FC;   fond bleu de la charte
color: #DEEBFF;  bleu clair
color: #F2F2F2;   fond gris

**/



* {
    margin: 0px;
    padding: 0px;
}

body  {
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}

li, a {
    text-decoration: none;
}

li {
    list-style: none;
}

/**************** Header ***************/
header {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
header a {
    padding:10px;
}

#logo {
    margin-left: 35px;
    height: 45px;
}

nav {
    display: flex;
}

.list-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-header li:nth-child(1) {
    margin-right: 10px;
}

.list-header li:nth-child(2) {
    margin-right: 5px;
}

.link-header:hover {
    color:#0065FC;
    border-top: 1px solid #0065FC;
}
.link-header:visited {
    color:#0065FC;
}





/**************** First section ***************/
.first {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    padding-left: 10px;
}
.title {
    padding:2px;
}

.title h1 {
    padding:10px;
}
.title p {
    padding-left: 5px;
}

form {
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.search,
.btn {
    height: 50px;
    width: 120px;
}

.btn {
    color: white;
    background-color:#0065FC ;
    border-radius: 0px 10px 10px 0px;
}

.search {
    width: 180px;
    text-align: end;
    font-weight: bold;
    padding-right: 5px;
    border-radius: 10px 0px 0px 10px;
}

fieldset {
    display: flex;
    flex-direction: row;
    border: transparent;
    margin-top: 20px;
}

fieldset h3 {
    padding-top: 10px;
    margin-right: 25px;
    vertical-align: middle;
}


.select-custom{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50px;
    background-color: white;
    width: 140px;
    height: 40px;
    text-align: end;
    padding:2px ;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
    z-index: 5;
}


#pets {
    width: 180px;
}
.top {
    position: relative;
}
.wrapper {
    width: 20px;
    position: absolute;
    z-index: 11;
    background-color: #DEEBFF;
    border-radius: 50px ;
    height: 38px;
    width: 40px;
    left:-1%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
i {
    color:#0065FC ;

}





/**************** Main ***************/
main {
    border: 1px solid black;
    width: 100%;
    height: 100px;
}
/**************** Second section ***************/
.second {
    border: 1px solid black;
    width: 100%;
    height: 100px;
}
/**************** Footer ***************/
footer {
    border: 1px solid black;
    width: 100%;
    height: 100px;
}

