/**

font-family: 'Raleway', sans-serif;
color: #0065FC;   fond bleu de la charte
color: #DEEBFF;  bleu clair
color: #F2F2F2;   fond gris

**/



* {
    margin: 0px;
    padding: 0px;
    color: black;
}
html {
    overflow-x: hidden;
}

body  {
    font-family: 'Raleway', sans-serif;
}


li, a {
    text-decoration: none;
}

a:active {
    color: blueviolet;
}

li {
    list-style: none;
}


h2{
    font-size: 20px;
}




/*************** Header ***************/
header {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:  0 auto 5px auto ;
}
.div-logo  {
    width: 30%;
    padding: 25px 5px 5px 5px;
    margin: 0 0 0 10px;
}

#logo {
    margin-left: 35px;
    height: 45px;
}

nav {
    display: flex;
    width: 40%;
    height: 100%;
}

.list-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.list-header li {
    width: 140px;
    border-top: 1px solid white;
    padding-top: 40px;
    text-align: center;
}


.list-header li:nth-child(2) {
    width: 110px;
}


.list-header li:hover {
    border-top: 1px solid #0065FC;

}

.link-header:hover {
    color:#0065FC;
}


/*********  contain section and main ******************/
.contain {
    width: 80%;
    margin: 0 auto;
}


/**************** First section ***************/
.first {
    width: 100%;
    height: auto;
    padding-left: 10px;
    margin-top: 10px ;
    margin-bottom: 5px;
}
.title {
    width: 100%;
    padding:2px;
}

.title h1 {
    width: 100%;
    padding:10px;
}
.title p {
    padding-left: 5px;
}

form {
    width: 99%;
    padding-left: 5px;
    margin: 20px 0;
}
.search-contain {
    width: 100%;
    margin-bottom: 30px;
}

.search,
.btn {
    height: 43px;
    width: 110px;
}

.btn {
    color: white;
    padding-right: 8px;
    background-color:#0065FC ;
    border: 1px solid #0065FC ;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
}

.btn-search,
.btn-i {
    color: white;
}

.btn-search {
    font-weight: bold;
    visibility: visible;
}
.btn-i {
    visibility: hidden;
}

.div-search {
    border: 1px solid #F2F2F2;
    background-color:#F2F2F2 ;
    border-radius: 10px 0px 0px 10px;
    height: 41px;
    width: 40px;
    position: absolute;
    left:0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-search i {
    color: black;
}

.search {
    width: 200px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 5px;
    border:1px solid #F2F2F2;
    border-left: transparent;
    border-right: transparent;
    position: relative;
    margin-left: 40px;
}

fieldset {
    display: flex;
    flex-direction: row;
    border: transparent;
    margin-top: 20px;
    width: 100%;
}
.fieldset-filter--first {
    display: flex;
    flex-direction: row;
    width: 80px;

}
.fieldset-filter--second {
    display: flex;
    flex-direction: row;
    width: 290px;
    margin-right: 20px;
}
.fieldset-filter--third {
    display: flex;
    flex-direction: row;
    width:350px;
}


fieldset h3 {
    padding-top: 10px;
    margin-right: 25px;
    vertical-align: middle;
}


.select-custom{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:1px solid #d3d3d3;
    border-left: transparent;
    border-radius: 50px;
    background-color: white;
    width: 140px;
    height: 40px;
    padding:2px ;
    margin-right: 10px;
    padding-left: 45px;
    position: relative;
    cursor: pointer;
    z-index: 5;
    font-weight: bold;
}

.select-custom:hover {
   background-color: #deebff6b;
   box-shadow:1px 1px 1px #d3d3d3a8;
}
#economy,
#genre {
    width: 155px;
}
#genre {
    text-align: center;
    padding-right: 5px;
}

#family {
    width: 130px;
    padding-right: 5px;
}
#pets {
    width: 200px;
    text-align: center;
}


.filter,
.search-contain {
    position: relative;
}
.wrapper {
    width: 20px;
    position: absolute;
    z-index: 11;
    background-color: #DEEBFF;
    border-radius: 50px ;
    height: 40px;
    width: 40px;
    left:-0.50%;
    top:0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
i {
    color:#0065FC ;

}
.info {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
}
#info  {
    border: 2px solid rgba(0, 0, 0, 0.103);
    background-color: transparent;
    width: 20px;
    height: 15px;
    border-radius: 50px;
    text-align: center;
    padding-top: 2px;
    font-size: small;
}

#span-custom {
    width: 80%;
    height: 20px;
    margin-left: 10px;
    padding-top: 1px;
}





/*************** Main **************/
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 10px;
}

.house,
.top {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 15px;
    height: auto;
}
.house {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    padding-bottom: 40px;
}
.breakpoint {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top {
    width: 30%;
    margin-left: 20px;
}
.div-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}
.div-title {
    margin-top: 15px;
    margin-bottom: 20px;
}

.title-card ,
.div-card--more {
    padding: 5px;
    margin-left: 20px;
}
.title-card {
    margin-top: 10px;
}


.div-card--more {
    font-size: larger;
    font-weight: bold;
}


.link-card {
    width: 30%;
    height: auto;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.151);
    overflow: hidden;
}

.link-card--popular {
    width: 90%;
    margin: 50px auto 0;
}

.card {
    width: 100%;
    height: auto;
    text-align: start;
}
.popular-contain-card {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
}
.card-popular {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.card-body {
    text-align: start;
    margin-bottom: 15px;
    height: 30%;
}
.card-body strong:hover {
    color:red;
}
.card-body  h4:hover {
    color:#0065FC;
}


.popular-contain-card a:first-child {
    margin-top: 0px;
}

.img {
    width: 100%;
    height: 130px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.img-popular {
    width: 40%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    margin-bottom: 0;
}
.img-second--popular {
    width:40%;
}

.img-first {
    background-image:url('../image/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}

.img-second {
    background-image:url('../image/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') ;
    background-position: center;
}

.img-third {
    background-image:url('../image/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') ;
    background-position: center;
}

.img-fourth {
    background-image:url('../image/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') ;
    background-position: center;
}

.img-fifth {
    background-image:url('../image/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') ;
    background-position: center;
}

.img-sixth {
    background-image:url('../image/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') ;
    background-position: center;
}

.img-first--popular {
    background-image:url('../image/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') ;
}
.img-second--popular {
    background-image:url('../image/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') ;
}
.img-third--popular {
    background-image:url('../image/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg') ;
    background-position: center;
}



.card-text {
    padding: 2px;
    margin: 5px 0 5px 10px;
}

.card-text-popular-contain {
    width: 75%;
    height: 100%;
    margin: 5px 0 0 10px;
}
.card-text--popular {
    width: 90%;
    margin-bottom: 45px;
}
.card-text-popular-contain h4 {
    width: 60%;
}
.card-text--middle h4 {
    width: 60%;
}
.card-text--last h4 {
    width: 60%;
}
.popular-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-aside i {
    color:black;
    padding-top: 13px;
    padding-right: 30px;
}






/**************** Second section ***************/
.second {
    width: 100%;
    height: 520px;
    margin-top: 50px;
    margin-bottom: 15px;
}
.contain-activity {
    height:450px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section-activity {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.div-activity {
    width: 100%;
    height: 100%;
    display: flex;
}

.title-card--activity {
    padding-left: 0;
    margin-left: 0;
}

.first-activity {
    width: 50%;
    height: 100%;
}

.second-activity {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second-activity--marging {
    padding: 0 30px;
}
.secondPart-activity--marging{
    padding-left: 30px;
}


.figure-activity {
    width: 100%;
    height:100%;
    margin: 0;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.151);
    overflow: hidden;
}
figure {
    height: 100%;
    position: relative;
}

.figure-activity--second {
    height: 40%;
}
.activity--second-FigureFirst {
    height: 53%;

}

.img-activity {
    width: 100%;
    height: 88%;
    position: absolute;
    top:0%;
    left:0%;
    object-fit: cover;
}

.img-activity--second {
    width: 100%;
    height: 180px;
}
.activity--second-imgSecond{
    height: 120px;
}

figcaption {
    padding: 10px 10px 20px 20px;
    position: absolute;
    bottom: -1%;
    left: 5%;
    font-weight: bold;
}


/**************** Footer ***************/
footer {
    background-color: #F2F2F2;
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding:15px ;
    margin: 50px auto 0;
}

.div-footer {
    width: 30%;
    padding: 5px;
    margin-top: 10px;
}

.div-footer--first {
    margin-left: 20px;
}

.footer-list--title {
    margin-bottom: 20px;
}

.footer-list--li {
    color:black;
    margin-bottom: 10px;
}

/*****************  Media queries ***********************/

@media  screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

/****************** header *****************/
    header {
        width: 100%;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        height: auto;
        margin: 0;
    }
    .div-logo  {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }
    #logo {
        text-align: center;
    }
    nav {
        width: 100%;
        margin-top: 10px;
    }

    .list-header {
        justify-content: normal;
    }

    .list-header li {
        width: 50%;
        border-bottom:1px solid  #F2F2F2;
        padding-bottom: 10px;
        border-top: none;
    }
    .list-header li:nth-child(2) {
        width: 50%;
    }
    .list-header li:hover {
        border-bottom: 1px solid #0065FC;
        border-top: none;
    }

    .link-header:hover {
        color:#0065FC;
    }

/************** contain section and main **********************/
    .contain {
        width: 100%;
        height: auto;
        margin: 0;
    }



/**************** First section ***************/
    .first {
        height: 60%;
        padding-left: 0;
    }
    .title h1 {
        font-size: 20px;
        padding:5px;
        width: 80%;
    }
    .title p {
        margin-top: 5px;
    }

    .search-contain {
        width: 90%;
        margin: 0 auto;
    }

    form {
        width: 95%;
    }
    .btn {
        width: 40px;
        padding-top: 12px;
        padding-right: 0;
    }
    .btn-search {
        visibility: hidden;
    }
    .btn-i {
        border-radius: 10px;
        visibility: visible;
    }

    .search {
        width: 230px;
    }
    fieldset {
        flex-wrap: wrap;
        padding: 0;
    }
    .fieldset-filter--first {
        width: 50%;
    }
    .fieldset-filter--second {
        width: 80%;
    }
    .fieldset-filter--third {
        flex-direction: column;
        width:50%;
    }
    .fieldset-filter--second  select,
    .fieldset-filter--second .wrapper,
    .fieldset-filter--third .wrapper,
    .fieldset-filter--third select {
        margin-top: 15px;
    }

    #economy,
    #genre {
    width: 160px;
    }
    #family {
        width: 130px;
    }
    .select-custom:hover {
        box-shadow:none;
     }

    .filter,
    .search-contain {
        position: relative;
    }
    .info {
        margin-bottom: 30px;
        margin-left: 1px;
    }
    #span-custom {
        font-size: 14px;
    }

/**************** Main ***************/
    main {
        flex-direction:column-reverse;
        margin: 20px auto 15px;
    }

    .house,
    .top {
        width: 100%;
        padding: 0px;
        height: auto;
        margin-left: 0;
        border-radius: initial;
    }
    .house {
        width: 100%;
        margin-top: 15px;
        margin-right: 0;
        background-color: white;
    }

    .top {
        padding-bottom: 40px;
    }

    .div-card {
        flex-direction: column;
    }

    .title-card  {
        margin-left: 15px;
    }

    .div-card--more {
        margin-left: 1px;
        padding: 0;
    }

    .link-card {
        width: 90%;
        margin: 0 auto 20px;
    }
    .link-card--popular {
        width: 90%;
        height: auto;
        margin: 20px auto 5px;

    }

    .popular-contain-card {
        flex-direction: column;
    }
    .card-popular {
        width: 90%;
    }

    .img {
        height: 110px;
    }

    .img-popular {
        width: 50%;
        height: 150px;
    }
    .img-second--popular {
        width:50%;
    }
    .card-text {
        font-size: 16px;
    }

    .card-text-popular-contain {
        width: 75%;
        height: 100%;
        margin-left: 10px;
        margin-top: 0;
    }
    .card-text--popular {
        margin-bottom:50px;
        font-size: 15px;
    }
    .card-text-popular-contain h4 {
        width: 80%;
    }
    .icon-aside i {
        padding-right: 20px;
    }


/**************** Second section ***************/
     .second {
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
    }
    .contain-activity {
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .section-activity {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin:0 auto ;
    }

    .div-activity {
        width: 100%;
        height: auto;
    }

    .first-activity {
        width: 100%;
    }

    .second-activity {
        width: 100%;
        justify-content: normal;
    }

    .second-activity--marging {
        padding: 0px;
    }
    .secondPart-activity--marging{
        padding-left: 0px;
    }
    .title-card--activity {
        padding-left: 0;
        margin-left: 1px;
    }

    .figure-activity {
        width: 90%;
        height:95%;
        margin: 10px auto;
        position: static;
    }

    .figure-activity--first {
        height: 100%;
    }

    .figure-activity--second {
        height:45%;
    }

    .img-activity {
        height: 150px;
        position: static;

    }

    .img-activity--second {
        height: 150px;
    }

    figcaption {
        padding: 10px 10px 20px 20px;
        font-weight: bold;
        position: static;
    }

/************* footer  ******************/
    footer {
        width: 100%;
        margin: 50px 0 10px;
        flex-direction: column;
        overflow: hidden;
    }
    .div-footer {
        width: 50%;
        padding: 15px;

    }
    .div-footer--first {
        margin-left: 0px;
    }


}

@media screen and (min-width:768px) and (max-width:992px){

    body {
        overflow-x: hidden;
    }


    /**********  header  ***************/
    header {
        width: 100%;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        height: auto;
        margin: 0;
    }
    .div-logo  {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }
    #logo {
        text-align: center;
    }
    nav {
        width: 100%;
        margin-top: 10px;
    }

    .list-header {
        justify-content: normal;
    }

    .list-header li {
        width: 50%;
        border-bottom:1px solid  #F2F2F2;
        padding-bottom: 10px;
        padding-top: 10px;
        border-top: none;
    }

    .list-header li:nth-child(2) {
        width: 50%;
    }
    .list-header li:hover {
        border-bottom: 1px solid #0065FC;
        border-left: 1px solid #0065FC;
        border-top: none;
    }

    .link-header:hover {
        color:#0065FC;
    }

    /************** contain section and main **********************/
    .contain {
        width: 100%;
        height: auto;
        margin: 0;
    }



    /**************** First section ***************/
    .first {
        height: 60%;
        padding-left: 0;
    }
    .title {
        text-align: center;
        margin: 20px 0;
    }
    .title h1 {
        font-size: 20px;
        padding:5px;
        width: 100%;
        font-size: 22px;
    }
    .title p {
        margin-top: 5px;
    }

    .search-contain {
        width: 40%;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
    }

    form {
        display:flex;
        width: 95%;
        margin: 20px auto;
        padding-bottom: 10px;
        border: 1px solid #F2F2F2;
        border-radius: 20px;
        box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.151);
    }
    .div-search {
        left: 10%;
    }
    .btn {
        width: 40px;
        padding-top: 12px;
        padding-right: 0;
        right: 0%;
    }
    .btn-search {
        visibility: hidden;
    }
    .btn-i {
        border-radius: 10px;
        visibility: visible;
    }

    .search {
        width: 70%;
    }
    fieldset {
        flex-wrap: wrap;
        padding: 0;
        width: 50%;
        margin-top: 5px;
        justify-content: center;
        align-self:center;
    }
    .fieldset-filter--first {
        width: 70px;
        padding-top: 12px;
        font-size: 15px;
    }
    .fieldset-filter--second {
        width: 300px;
    }
    .fieldset-filter--third {
        flex-direction: row;
        width:400px;
        margin-left: 20px;
        justify-content: flex-end;

    }
    .fieldset-filter--second  select,
    .fieldset-filter--second .wrapper,
    .fieldset-filter--third .wrapper,
    .fieldset-filter--third select {
        margin-top: 15px;
    }

    #genre {
    width: 145px;
    }
    #pets {
        width: 190px;
    }
    #family {
        width: 125px;
        padding-right: 0;
        text-align: center;
    }

    .filter,
    .search-contain {
        position: relative;
    }
    #span-custom {
        font-size: 14px;
    }
    .info {
        padding-left: 20px;
    }

/**********  Main  ***************/

    main {
        flex-direction:column-reverse;
         margin: 20px auto 5px;
    }


    .house,
    .top {
        width: 100%;
        padding: 0px;
        height: auto;
        margin-left: 0;
       }
    .house {
        width: 100%;
        margin-top: 20px;
        margin-right: 0;
        background-color: white;
    }
    .top {
        border-radius: 20px;
        padding-bottom: 30px;
    }
    .breakpoint {
        width: 100%;
        display: flex;
        flex-direction: row;
    }


    .div-card {
        flex-direction: column;
    }

    .title-card {
        margin-left: 15px;
    }

    .div-card--more {
        margin-left: 1px;
        margin-top: 0;
        padding: 0;
    }

    .link-card {
        width: 90%;
        margin: 0 auto 50px;
    }
    .link-card--popular {
        width: 70%;
        height: auto;
        margin: 20px auto 5px;
    }

    .popular-contain-card {
        flex-direction: column;
    }
    .popular-title {
        justify-content: center;
    }
    .card-popular {
        width: 70%;
    }

    .img {
        height: 110px;
    }

    .img-popular {
        width: 50%;
        height: 150px;
    }
    .img-second--popular {
        width:50%;
    }
    .card-text {
        font-size: 16px;
    }

    .card-text-popular-contain {
        width: 70%;
        height: 100%;
        margin-left: 10px;
        margin-bottom: 0;
    }
    .card-text--popular {
         margin-bottom:50px;
        font-size: 15px;
    }
    .card-text-popular-contain h4 {
        width: 100%;
    }
    .icon-aside i {
        padding-right: 20px;
        margin-left: 20px;
    }


/**************** Second section ***************/
    .second {
        height: 100%;
        width: 100%;
        margin-bottom: 15px;
    }
    .contain-activity {
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .section-activity {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin:0 auto ;
    }

    .div-activity {
        width: 100%;
        height: auto;
    }

    .first-activity {
         width: 100%;
    }

    .second-activity {
        width: 100%;
        justify-content: normal;
    }

    .second-activity--marging {
         padding: 0px;
    }
    .secondPart-activity--marging{
         padding-left: 0px;
    }
    .title-card--activity {
        margin-left: 1px;
    }

    .figure-activity {
        width: 90%;
        height:95%;
        margin: 10px auto;
        position: static;
    }

    .figure-activity--first {
         height: 100%;
    }

    .figure-activity--second {
        height:45%;
    }

    .img-activity {
        height: 150px;
        position: static;
    }

    .img-activity--second {
        height: 150px;
    }

    figcaption {
        padding: 10px 10px 20px 20px;
        font-weight: bold;
        position: static;
    }

/************* footer  ******************/
    footer {
        width: 100%;
        margin: 0 0 10px;
        flex-direction: column;
    }
    .div-footer {
        width: 50%;
        padding: 15px;
        }
    .div-footer--first {
         margin-left: 0px;
    }

}

