/**

font-family: 'Raleway', sans-serif;
color: #0065FC;   fond bleu de la charte
color: #DEEBFF;  bleu clair
color: #F2F2F2;   fond gris

**/



* {
    margin: 0px;
    padding: 0px;
    color: black;
}

body  {
    font-family: 'Raleway', sans-serif;
}


li, a {
    text-decoration: none;
}

a:active {
    color: blueviolet;
}

li {
    list-style: none;
}


h2{
    font-size: 20px;
}


/****************** header *****************/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
.div-logo  {
    width: 100%;
    text-align: center;
    margin: auto;
}
#logo {
    margin-left: 35px;
    height: 45px;
    text-align: center;
}
nav {
    width: 100%;
    margin-top: 20px;
}

.list-header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.list-header li {
    width: 50%;
    padding-bottom: 10px;
    text-align: center;
    border-bottom:1px solid  #F2F2F2;
}
.list-header li:hover {
    border-bottom: 1px solid #0065FC;
}

.link-header:hover {
    color:#0065FC;
}

/*************** contain section and main ************************/

.contain {
    width: 100%;
    height: auto;
}




/**************** First section ***************/
.first {
    width: 100%;
    height: 60%;
    margin-top: 10px ;
    margin-bottom: 5px;
}
.title {
    padding:2px;
}

.title h1 {
    font-size: 20px;
    padding:5px;
    width: 80%;
}
.title p {
    padding-left: 5px;
    margin-top: 5px;
}

form {
    width: 99%;
    padding-left: 5px;
    margin: 20px 0;
}

.search-contain {
    width: 90%;
    margin: 0 auto;
}

.search,
.btn {
    height: 43px;
}

.btn {
    width: 40px;
    color: white;
    background-color:#0065FC ;
    border: 1px solid #0065FC ;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    padding-top: 12px;
}
.btn-search,
.btn-i {
    color: white;
}

.btn-search {
    visibility: hidden;
}
.btn-i {
    border-radius: 10px;
    visibility: visible;
}

.div-search {
    border: 1px solid #F2F2F2;
    background-color:#F2F2F2 ;
    border-radius: 10px 0px 0px 10px;
    height: 41px;
    width: 40px;
    position: absolute;
    left:0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-search i {
    color: black;
}

.search {
    width: 230px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 5px;
    border:1px solid #F2F2F2;
    border-left: transparent;
    border-right: transparent;
    position: relative;
    margin-left: 40px;
}

fieldset {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: transparent;
    margin-top: 20px;
    padding: 0;
}
.fieldset-filter--first {
    width: 50%;
}
.fieldset-filter--second {
    display: flex;
    flex-direction: row;
    width: 80%;
}
.fieldset-filter--third {
    display: flex;
    flex-direction: column;
    width:50%;
}
.fieldset-filter--second  select,
.fieldset-filter--second .wrapper,
.fieldset-filter--third .wrapper,
.fieldset-filter--third select {
    margin-top: 15px;
}

fieldset h3 {
    padding-top: 10px;
    margin-right: 25px;
    vertical-align: middle;
}


.select-custom{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:1px solid #d3d3d3;
    border-left: transparent;
    border-radius: 50px;
    background-color: white;
    width: 140px;
    height: 40px;
    text-align: end;
    padding:2px ;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
    z-index: 5;
    font-weight: bold;
}


#family {
    width: 110px;
}
#pets {
    width: 190px;
}
.filter,
.search-contain {
    position: relative;
}
.wrapper {
    width: 20px;
    position: absolute;
    z-index: 11;
    background-color: #DEEBFF;
    border-radius: 50px ;
    height: 39px;
    width: 40px;
    left:0%;
    top:2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
i {
    color:#0065FC ;

}
.info {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
}
#info  {
    border: 2px solid rgba(0, 0, 0, 0.103);
    background-color: transparent;
    width: 20px;
    height: 15px;
    border-radius: 50px;
    text-align: center;
    padding-top: 2px;
    font-size: small;
}

#span-custom {
    width: 80%;
    height: 20px;
    font-size: 14px;
    margin-left: 10px;
}

/**************** Main ***************/
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column-reverse;
    margin: 20px auto 5px;
}

.house,
.top {
    width: 100%;
    padding: 0px;
    height: auto;
}
.house {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.top {
    background-color: #F2F2F2;
}

.div-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 0 15px 0;
}
.div-title {
    margin-top: 15px;
    margin-bottom: 20px;
}

.title-card ,
.div-card--more {
    padding: 5px;
    margin-left: 15px;
    margin-top: 10px;
}

.div-card--more {
    font-size: larger;
    font-weight: bold;
    margin-left: 0;
    padding: 0;
}

.link-card {
    height: auto;
    width: 90%;
    margin: 0 auto 50px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.151);
    overflow: hidden;
}
.link-card--popular {
    width: 90%;
    margin: 20px auto 0;
}

.popular-contain-card {
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}
.card {
    width: 100%;
    height: auto;
}
.card-popular {
    width: 90%;
    display: flex;
    flex-direction: row;
}
.card-body {
    text-align: start;
    margin-bottom: 15px;
    height: 30%;
}
.card-body strong:hover {
 color:red;
}
.card-body  h4:hover {
    color:#0065FC;
}

.img {
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.img-popular {
    width: 50%;
    height: 150px;
    border-radius: 20px 0px 0px 20px;
    margin-bottom: 0;
}
.img-second--popular {
    width:50%;
}
.img-first {
    background-image:url('/src/image/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}

.img-second {
    background-image:url('/src/image/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') ;
    background-position: center;
}

.img-third {
    background-image:url('/src/image/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') ;
    background-position: center;
}

.img-fourth {
    background-image:url('/src/image/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') ;
    background-position: center;
}

.img-fifth {
    background-image:url('/src/image/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') ;
    background-position: center;
}

.img-sixth {
    background-image:url('/src/image/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') ;
    background-position: center;
}

.img-first--popular {
    background-image:url('/src/image/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') ;
}
.img-second--popular {
    background-image:url('/src/image/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') ;
}
.img-third--popular {
    background-image:url('/src/image/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg') ;
    background-position: center;
}


.card-text {
    padding: 2px;
    margin: 5px 0 5px 10px;
    font-size: 16px;
}

.card-text-popular-contain {
    width: 75%;
    height: 100%;
    margin-left: 10px;
    margin-bottom: 0;
}
.card-text--popular {
    margin-bottom:50px;
    font-size: 15px;
}
.popular-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-aside i {
    color:black;
    padding-top: 13px;
    padding-right: 20px;
}


 /**************** Second section ***************/
.second {
    margin-top: 50px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}

.contain-activity {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-activity {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin:0 auto ;
}
.div-activity {
    width: 100%;
    height: auto;
}

.title-card--activity {
    padding-left: 0;
    margin-left: 0;
}
.first-activity {
    width: 100%;
    margin-right: 0px;
}

.second-activity {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.figure-activity {
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.151);
    width: 90%;
    height:95%;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
}

.figure-activity--first {
    height: 100%;
}

.figure-activity--second {
    height: 45%;
}

.img-activity {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.img-activity--second {
    width: 100%;
    height: 150px;
}

figcaption {
    padding: 10px 10px 20px 20px;
    font-weight: bold;
}

 /************* footer  ******************/
 footer {
    background-color: #F2F2F2;
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.div-footer {
    width: 50%;
    padding: 15px;
    margin-top: 10px;
}

.footer-list--title {
    margin-bottom: 20px;
}

.footer-list--li {
    color:black;
    margin-bottom: 10px;
}



/***************   Media queries   **********************/


@media screen and (min-width:768px) and (max-width:992px){

/**********  header  ***************/
    .list-header li {
       padding-top: 10px;
    }
    .list-header li:hover {
        border-top: 1px solid #0065FC;
        border-left: 1px solid #0065FC;
        border-bottom: none;
    }

/**********  first section  ***************/

    .title {
        text-align: center;
        margin: 20px 0;
    }
    .title h1 {
        width: 100%;
        font-size: 22px;
    }

    form {
        display:flex;
        width: 95%;
        margin: 20px auto;
        padding-bottom: 10px;
        border: 1px solid #F2F2F2;
        border-radius: 20px;
        box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.151);
    }

    .search-contain {
        width: 40%;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
    }
    .div-search {
        left: 10%;
    }
    .search {
        width: 70%;
    }
    .btn {
       right: 0%;
    }

    fieldset {
        width: 50%;
        margin-top: 0px;
        justify-content: center;
        align-self:center;

    }
    .fieldset-filter--first {
        width: 70px;
        padding-top: 12px;
    }
    .fieldset-filter--second {
        width: 300px;
    }
    .fieldset-filter--third {
        flex-direction: row;
        width:400px;
        margin-left: 20px;
        justify-content: flex-end;

    }
    .info {
        margin-top: 5px;
        padding-left: 20px;
    }


/**********  Main  ***************/


    .top {
        border-radius: 20px;
    }
    .breakpoint {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .link-card--popular {
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .popular-title {
        justify-content: center;
    }
    .icon-aside i {
        margin-left: 20px;
    }

}

@media  screen and (min-width:992px) {



/****************** header *****************/
    header {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        height: 100px;
        margin:  0 auto 5px;
    }

    .div-logo  {
        width: 30%;
        margin: 0 0 0 10px;
        padding: 0px 5px 5px 5px;
        text-align: start;
    }

    #logo {
        text-align: start;
    }
    nav {
        display: flex;
        width: 40%;
        height: 100%;
        margin-top: 0;
    }

    .list-header {
        justify-content: flex-end;
    }
    .list-header li {
        width: 140px;
        border-top: 1px solid white;
        padding-top: 40px;
        border-bottom: none;
    }

    .list-header li:nth-child(2) {
        width: 110px;
    }
    .list-header li:hover {
        border-top: 1px solid #0065FC;
        border-bottom: none;
    }

    .link-header:hover {
        color:#0065FC;
    }


/*************** contain section and main ************************/

    .contain {
        margin-top: 0;
        width: 80%;
        margin: 0 auto;
    }

/**************** First section ***************/
    .first {
        height: auto;
        padding-left: 10px;
    }
    .title {
        text-align: left;
    }
    .title h1 {
        width: 100%;
        font-size: 24px;
        padding:10px;
    }
    .title p {
        margin-top: 0px;
    }
    .search-contain {
        width: 100%;
    }
    .search,
    .btn {
        width: 100px;
    }
    .btn {
        color: white;
        padding-top: 0px;
        padding-right: 8px;
    }

    .btn-search {
        font-weight: bold;
        visibility: visible;
    }
    .btn-i {
        visibility: hidden;
    }
    .search {
        width: 200px;
    }

    fieldset {
        flex-direction: row;
        width: 100%;

    }
    .fieldset-filter--first {
        width: 80px;

    }
    .fieldset-filter--second {
        width: 290px;
    }
    .fieldset-filter--third {
        flex-direction: row;
        width:350px;
    }
    .fieldset-filter--second  select,
    .fieldset-filter--second .wrapper,
    .fieldset-filter--third .wrapper,
    .fieldset-filter--third select {
        margin-top: 0px;
    }
    #genre,
    #economy {
        width: 150px;
    }
    #family {
        width: 120px;
    }

    #span-custom {
        padding-top: 5px;
        font-size: 16px;
    }

/**************** Main ***************/
    main {
        flex-direction: row;
    }

    .house,
    .top {
        background-color: #F2F2F2;
        border-radius: 20px;
        padding: 15px;
    }
    .house {
        width: 65%;
        margin-right: 5px;
        margin-top: 0;

    }
    .top {
        width: 30%;
        margin-left: 20px;
    }

    .breakpoint {
        flex-direction: column;
    }

    .div-card {
        flex-direction: row;
        justify-content: space-around;
        padding: 0px;
        margin: auto;
    }

    .title-card ,
    .div-card--more {
        margin-left: 20px;
    }

    .link-card {
        width: 26%;
    }

    .link-card--popular {
        width: 80%;
        margin-top: 50px;
    }
    /*  suppression du flex change comportement  */
    .popular-contain-card {
        flex-direction: column;
        justify-content: start;
    }

    .card {
        text-align: start;
    }
    .card h4 {
        font-size: large;
    }
    .card-popular {
        height: 100%;
        width: 100%;
    }

    .popular-contain-card a:first-child {
        margin-top: 0px;
    }

    .img {
        height: 130px;
    }

    .img-popular {
        width: 40%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        margin-bottom: 0;
    }
    .img-second--popular {
        width:40%;
    }

    .card-text {
        font-size: normal;
    }

    /* .card-text-popular-contain {
        height: 100%;
        margin-left: 10px;
        margin-bottom: 0;
    } */
    .card-text--popular {
        width: 90%;
    }
    .card-text-popular-contain h4 {
        width: 60%;
    }
    .card-text--middle h4 {
        width: 60%;
    }
    .card-text--last h4 {
        width: 70%;
    }

/**************** Second section ***************/
    .second {
        height: 520px;
    }
    .contain-activity {
        height:450px;
        flex-direction: row;
        justify-content: initial;
    }

    .section-activity {
        width: 50%;
        height:100%;
        flex-direction: row;
    }

    .div-activity {
        height: 100%;
        display: flex;
    }

    .first-activity {
        width: 50%;
        height: 100%;
    }

    .second-activity {
        width: 50%;
        justify-content: space-between;
    }
    .second-activity--marging {
        padding: 0 30px;
    }

    .secondPart-activity--marging{
        padding-left: 30px;
    }
    .title-card--activity {
        padding-left: 0;
        margin-left: 0;
    }

    .figure-activity {
        width: 100%;
        height:100%;
        margin: 0;
    }

    /* .figure-activity--first {
        height: 100%;
    } */

    .figure-activity--second {
        width: 100%;
        height: 40%;
    }

    .activity--second-FigureFirst {
        height: 53%;
    }

    .img-activity {
        height: 88%;
        position:absolute;
        top: 0%;
        left: 0%;
    }

    .img-activity--second {
        height: 180px;
    }

    .activity--second-imgSecond{
        height: 120px;
    }

    figcaption {
        position: absolute;
        bottom: -1%;
        left: 5%;
    }


/************* footer  ******************/
    footer {
        width: 85%;
        margin-top: 50px;
        flex-direction: row;
        padding:15px ;
        margin: 0 auto;
    }
    .div-footer {
        width: 30%;
        padding: 5px;
    }

    .div-footer--first {
        margin-left: 20px;
    }

}